h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    background: #212c3f;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    min-height: 100vh;
    margin: 0px;
}

#print-button {
    position: fixed;
    bottom: 2rem;
    right: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.75rem;

    outline: none;
    border: none;
    border-radius: 50%;
    background: rgb(2, 130, 168);
    font-size: 1rem;
    font-family: var(--font-sans-serif);
    font-weight: 600;
    color: rgb(49, 49, 49);
    cursor: pointer;
}

#print-button img {
    width: 2rem;
    height: 2rem;
    filter: invert(1);
}

.bg-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.bg-video {
    width: 100%;
    height: 100%;

    object-fit: cover;

    opacity: 0.8;
    will-change: opacity;
    transition-duration: 1000ms;
    filter: invert(1) hue-rotate(40deg) brightness(60%);
}

#page {
    opacity: 0;
    transition-duration: 200ms;
}

.page-frame {
    max-width: 850px;
    width: 100%;
    padding: 64px;
    background: #F5F5F5;
    box-shadow: 3px 3px 13px -3px rgba(0, 0, 0, 0.2);
    flex-shrink: 0;
    margin: 3rem 1rem;
}



.credits-section {
    position: absolute;
    bottom: 12px;
    font-size: 12px;
    font-family: var(--font-sans-serif);

    color: #b3b3b3;
}

.credits-section a {
    color: #8ca3c0;
}

#languages-container {
    display: flex;
    flex-flow: row nowrap;
    gap: .5rem;
    font-size: 16px;
}

.center-message-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}
.center-message-container-inner{
    position: relative;
    width: 100%;
    height: 100%;
}
#center-message {
    opacity: 0;
    min-width: 100px;
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #353e4d;
    color: #bababa;
    padding: 1rem 2rem;
    border-radius: 2px;
    box-shadow: 0px 3px 13px -3px rgba(0, 0, 0, 0.15);
}

@media print {
    body {
        background: none;
        padding: 0;
        min-height: unset !important;
        margin: 0px !important;
    }

    .bg-container {
        display: none;
    }

    .bg-video {
        display: none;
    }

    #print-button {
        display: none;
    }

    .page-frame {
        width: 100%;
        padding: 0;
        margin: 0 !important;
        background: none !important;
        box-shadow: unset !important;
        transform: none !important;
    }

    a {
        text-decoration: none;
        color: initial;
    }

    .credits-section {
        display: none !important;
    }
}
/* 
@media screen and (max-width: 952px) {
    .bg-video {
        opacity: 0;
    }
}

@media screen and (max-width: 830px) {
    body {
        padding: 1rem;
        padding-bottom: 3rem;
    }
}

@media screen and (max-width: 794px) {
    .page-frame {
        padding: 32px;
    }

    section {
        margin-bottom: 2.5rem;
    }

    .experience {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 720px) {
    .page-frame {
        padding: 32px;
    }

    .header-section {
        flex-flow: column nowrap;
        align-items: flex-start;
        margin-bottom: 2rem;
    }

    .header-main {
        margin-bottom: 1rem;
    }

    .contact-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
}

@media screen and (max-width: 671px) {
    .skills-title-section {
        flex-flow: column nowrap;
        margin-bottom: 1rem;
    }

    .skills-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 573px) {
    body {
        padding: 0.2rem;
        padding-bottom: 3rem;
    }

    .page-frame {
        padding: 24px;
    }

    .skills-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media screen and (max-width: 497px) {
    .header-main h1 {
        font-size: 36px;
        margin-bottom: 0.2rem;
    }

    .header-main p {
        display: flex;
        flex-flow: column;
        margin-bottom: 0.5rem;
    }

    .header-main .separator {
        display: none;
    }

    .contact-container {
        margin-bottom: 0.5rem;
    }

    .experience-subinfo {
        flex-flow: column-reverse nowrap;
        gap: 0.1rem;
    }

    .skills-list {
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (max-width: 438px) {
    .contact-container {
        grid-template-columns: 1fr;
    }

    .experience h3 {
        display: flex;
        flex-flow: column nowrap;
    }

    .experience .separator {
        display: none;
    }

    .swatch {
        width: 24px;
    }
}

@media screen and (max-width: 383px) {
    .header-main h1 {
        font-size: 28px;
    }

    .swatch {
        width: 16px;
    }
} */